
*{
	margin:0;
	padding:0;
	font-family: 'Calibri';
}

a:link {
      text-decoration: none;
}



.top-half{
	margin:auto;
	background-color: rgb(230,230,235);
	width:60%;
	border-radius: 5px;
}

.picture{
	width:35%;
	float:right;
}

.picture img {
	margin-top:-60px;
	border-radius: 50%;
 	height:250px;

}

.corey-haigh{
	padding-left: 20px;
	font-size: 30px;
	padding-top: 60px;
}

.top-row{
	padding-bottom: 200px;
}

.about-me{
	margin:auto;
	width:95%;
	font-size:25px;
	padding-bottom: 20px;

}

.socials{
	padding-left: 20px;
	padding-bottom:70px;
	font-family: 'Calibri';

}

.socials ul{
	padding-left: 30px;
	font-size: 22px;

}

.socials h2{
	font-size:32px;
	padding-bottom: 5px;
}

.bottom-half{
	padding-top: 30px;
	margin:auto;
	width:62%;
	overflow:hidden;
	display: flex;
}


.kaggle-projects ul{
	list-style-type: none;
}

.kaggle-projects h3{
	margin:auto;
	width:90%;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size:30px;
}


.kaggle-projects a{
	border-style:solid;
	display: flex;
  	text-indent: 20px;
  	font-size: 20px;
  	margin:auto;
	width:90%;
	text-decoration: none;
	border-width: thin;
	padding-top: 15px;
	padding-bottom: 15px;
	border-color: grey;
	margin-bottom: -1px;
	border-radius: 5px;
	border-color: rgb(230,230,235);
}





.kaggle-projects{
	float:left;
	width:50%;
	border:solid;
	box-sizing:border-box;
	border-width: 1px;
	border-radius: 5px;
	margin-right:-1px;
	padding-bottom: 20px;
	border-color: rgb(230,230,235);


}



.exams h3{
	margin:auto;
	width:90%;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size:30px;

}

.exams li{
	border-style:solid;
	display: flex;
  	text-indent: 20px;
  	font-size: 20px;
  	margin:auto;
	width:90%;
	text-decoration: none;
	border-width: thin;
	padding-top: 15px;
	padding-bottom: 15px;
	border-color: grey;
	margin-bottom: -1px;
	border-radius: 5px;
	border-color: rgb(230,230,230);
}

.exams{
	float:left;
	width:50%;
	border:solid;
	box-sizing:border-box;
	border-width:1px;
	border-radius: 5px;
	padding-bottom: 20px;
	border-color: rgb(230,230,235);
}


